*{
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    background-color: grey;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.head header{
    flex-wrap: wrap;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 1.3em;
    width: 1400px;
    
}

.simular{
    color: white;
    margin: 30px 500px;
    
}

.simulator{
    margin-top: 5px;
    align-items: baseline;
    flex-direction: column;
    
}

#Calcular{
    padding: 10px;
     width: 170px;
     border-radius:5px ;
     margin-top:30px;
     margin-bottom: 10px;
     border: none;
     text-align: center;
     margin-left: 18vh;
}
#CalcularNovamente{
    padding: 10px;
     width: 170px;
     border-radius:5px ;
     margin-top:30px;
     margin-bottom: 10px;
     border: none;
     text-align: center;
     display: none;
}

input{
    margin-top: 5px;
    width: 100%;
    color: black;
    border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color: black;
    padding: 10px;
    background: grey;
}

select{
    margin-top: 5px;
    padding: 10px;
    border-style: solid;
    border-bottom-width: 3px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color: black;
    width: 105%;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    
    outline: 0;
}

.break:hover{
    cursor:pointer;
    background-color: rgb(196, 192, 192)
}
textarea:focus, input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
} 

::-webkit-input-placeholder{
    color:rgb(77, 77, 77)
}
p{
    text-align: center;
    color:white;
    margin-top:20px;
    font-size: x-large;

}
#resultTextStyle{
    display: none;
}
.InputError{
    border: 1px solid red;
}

.Error{
    color: red;
    font-size: small;
}